<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Dogs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
        <div id="app">
               <h1> {{ message }}</h1>
               <button v-on:click="callDogsApi">Get dogs</button>
               
              <div v-if="dogs" v-for="dog in dogs">
              <div>
                  <ul>
                        <li>Name: {{dog.name}}</li>
                        <li>Age: {{dog.age}}</li>
                        <li>Breed: {{dog.breed}}</li>
                  </ul>
              </div>
            </div>
        </div>
   <script>
   var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Dogs!',
    dogs: null
  },
  methods:{
      callDogsApi(){
            axios.get('/api/dogs').then((response)=>{
                this.dogs = response.data
            })
      }
  }
})
</script>
</body>
</html>